main {
  margin: auto;
  padding: 0;
  max-width: 1200px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

#section1 {
  color: white;
}

#h1wrap {x
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#billede1 {
  position: absolute;
  background-image: url(/billeder/baggrund1.jpg);
  background-size: cover;
  width: 100%;
  height: 60%;
}
