main {
  margin: auto;
  padding: 0;
  max-width: 1200px;
}

img,
video {
  display: block;
  width: 100%;
  height: auto;
}

#section1 {
  color: white;
}

#section2 {
  margin-top: 8%;
  display: flex;
  flex: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  gap: 8%;
  font-size: 0.9em;
  letter-spacing: 1px;
}

#section2 img {
  max-height: 100px;
  max-width: 100%;
}

#section3 {
  margin-top: 8%;
  font-size: 0.9em;
  letter-spacing: 1px;
  line-height: 1.6;
}

#section4 {
  margin-top: 8%;
  justify-content: center;
  display: flex;
  flex: 1fr 1fr 1fr;
  gap: 3%;
}

.icontext {
  display: grid;
  max-width: 230px;
  gap: 5%;
}

#section5 {
  margin-top: 6%;
}

#section5 h1 {
  margin-bottom: 1.5%;
}

#artikel_wrap {
  display: flex;
  gap: 6%;
}

.artikel {
  display: grid;
  gap: 6%;
}
