/********Generelt--------*/
img {
  width: 100%;
  height: auto;
  display: block;
}
body {
  margin-top: 7rem;
}

/*-------Sektion 1-------*/

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  position: absolute;
}

/*-------Sektion 2-------*/
@media (min-width: 750px) {
  #section2_k .section_wrapper_k {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #section2_k .anita_name,
  .anita_leader {
    text-align: center;
  }
}

@media (min-width: 200px) {
  #section2_k .col_2 {
    display: grid;
    text-align: center;
    place-content: center;
  }
  #section2_k .col_3 {
    display: grid;
    text-align: center;
    place-content: center;
    gap: 70px;
  }
}

/*-------Sektion 3-------*/
@media (min-width: 750px) {
  #section3_k .section_wrapper_k {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 182px;
  }
}

@media (min-width: 200px) {
  #section3_k .col_left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
@media (min-width: 750px) {
  .days {
    display: grid;
  }
  .time {
    display: grid;
  }
  /*-------Sektion 4-------*/
  #section4_k {
    display: grid;
  }
  .closing {
    display: grid;
    place-content: center;
  }
}
