/*| Font |*/
@import url(https://fonts.googleapis.com/css?family=Lato);

/* STYLING */
h1 {
  font-family: "vag-rundschrift-d", sans-serif;
}
h2 {
  font-family: "vag-rundschrift-d", sans-serif;
}
p {
  font-family: "urbane-rounded", sans-serif;
  line-height: 160%;
}

#adresse_forside {
  font-size: clamp(0.8rem, 6.4vw - 2.2rem, 1rem);
}
#aabning_forside {
  font-size: clamp(0.8rem, 6.4vw - 2.2rem, 1rem);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

/*| Famly login |*/

.heart {
  width: 13px;
  height: 13px;
  margin: -2px 1px 0 0;
}
/*| MOBILE |*/
@media (max-width: 750px) {
  /*| Logo |*/
  .content {
    width: 95%;
    margin: auto;
  }
  .logo {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: auto;
    margin-left: 5px;
    margin-top: 5px;
  }

  /*| Nav Mobile |*/
  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    padding: 14px 16px;
    /* font-size: 17px; */
    display: block;
    color: #222;
    font-size: 0.9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #04aa6d;
    color: white;
  }

  /* Animated burger menu */

  .container {
    display: inline-block;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  footer {
    margin-top: 8%;
    position: relative;
    max-height: 185px;
  }
  #sky {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
  }

  #text_wrap_fotter {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    left: 0;
    right: 0;
    text-align: center;
  }
}
/*| WEB |*/
@media (min-width: 750px) {
  .content {
    width: 75%;
    margin: auto;
  }

  /*| Logo |*/
  .logo {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: auto;
    margin-top: 8px;
    margin-left: 1%;
  }

  /*| Nav web |*/
  nav {
    overflow: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .topnav #myLinks {
    overflow: visible;
    display: inline;
  }
  .heart {
    display: inline;
  }
  .icon {
    display: none;
  }

  nav ul {
    list-style: none;
    position: relative;
    float: right;
    display: inline-table;
  }
  nav ul li {
    float: left;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  nav ul li:hover {
    background: rgba(0, 0, 0, 0.15);
  }
  nav ul li:hover > ul {
    display: block;
  }
  nav ul li {
    float: left;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  nav ul li a {
    display: block;
    padding: 30px 20px;
    color: #222;
    font-size: 0.9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
  }
  nav ul ul {
    display: none;
    background: #fff;
    position: absolute;
    top: 100%;
    box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  nav ul ul li {
    float: none;
    position: relative;
  }
  nav ul ul li a {
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 100%;
  }
  footer {
    margin-top: 8%;
    position: relative;
    max-height: 185px;
  }
  #sky {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
  }
  #adresse_forside {
    width: 300px;
  }

  #text_wrap_fotter {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    left: 0;
    right: 0;
    text-align: center;
  }
}
